" Set leader to <space>
let mapleader = " "

" Set relative line numbers
set relativenumber number

" Map telescope actions to IntelliJ actions
nnoremap <leader>sf :action SearchEverywhere<CR>
nnoremap <leader>sg :action FindInPath<CR>
map <leader><leader> <action>(RecentFiles)
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
map <leader>gc <action>(CommentByLineComment)
map <leader>a ggVG

" Highlight search results
:set hlsearch
:set ignorecase
:set smartcase

" clear search highlight
nnoremap <Esc> :nohlsearch<CR>

" Centralize screen after moving
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz

" Map to reformat code
map <leader>f :action ReformatCode<CR>

" Source .ideavimrc
nnoremap <leader>si :source ~/.ideavimrc<CR>
